src/*.o
src/.has_pcap
src/onics_config.h
src/pcapin-tgt.c
src/pcapout-tgt.c
src/pktin.c
src/pktout.c
src/pml.h
src/pml.c
src/pml.out
src/pml_tok_strs.c
src/makefile

doc/enum_proto
doc/onics_proto.7
doc/onics_stdproto_list.txt

lemon/lemon

tests/bin/*
tests/tmp/*

bin/*

